<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.crud_demo.mapper.SupplierMapper">

    <select id="getAllSups" resultType="com.crud_demo.entities.Supplier" >
        SELECT * FROM u_supplier
    </select>

<!--    添加数据集    -->
<!--    <insert id="addSups">-->
<!--        insert into employee (name, gender,-->
<!--        birthday, idCard, wedlock, nationId,-->
<!--        nativePlace, politicId, email,-->
<!--        phone, address, departmentId,-->
<!--        jobLevelId, posId, engageForm,-->
<!--        tiptopDegree, specialty, school,-->
<!--        beginDate, workState, workID,-->
<!--        contractTerm, conversionTime, notWorkDate,-->
<!--        beginContract, endContract, workAge-->
<!--        )-->
<!--        values-->
<!--        <foreach collection="list" separator="," item="emp">-->
<!--            (#{emp.name,jdbcType=VARCHAR}, #{emp.gender,jdbcType=CHAR},-->
<!--            #{emp.birthday,jdbcType=DATE}, #{emp.idCard,jdbcType=CHAR}, #{emp.wedlock,jdbcType=CHAR},-->
<!--            #{emp.nationId,jdbcType=INTEGER},-->
<!--            #{emp.nativePlace,jdbcType=VARCHAR}, #{emp.politicId,jdbcType=INTEGER}, #{emp.email,jdbcType=VARCHAR},-->
<!--            #{emp.phone,jdbcType=VARCHAR}, #{emp.address,jdbcType=VARCHAR}, #{emp.departmentId,jdbcType=INTEGER},-->
<!--            #{emp.jobLevelId,jdbcType=INTEGER}, #{emp.posId,jdbcType=INTEGER}, #{emp.engageForm,jdbcType=VARCHAR},-->
<!--            #{emp.tiptopDegree,jdbcType=CHAR}, #{emp.specialty,jdbcType=VARCHAR}, #{emp.school,jdbcType=VARCHAR},-->
<!--            #{emp.beginDate,jdbcType=DATE}, #{emp.workState,jdbcType=CHAR}, #{emp.workID,jdbcType=CHAR},-->
<!--            #{emp.contractTerm,jdbcType=DOUBLE}, #{emp.conversionTime,jdbcType=DATE}, #{emp.notWorkDate,jdbcType=DATE},-->
<!--            #{emp.beginContract,jdbcType=DATE}, #{emp.endContract,jdbcType=DATE}, #{emp.workAge,jdbcType=INTEGER}-->
<!--            )-->
<!--        </foreach>-->
<!--    </insert>-->

</mapper>